altair==5.5.0
altex==0.2.0
altgraph==0.17.4
amulet-leveldb==1.0.2
annotated-types==0.7.0
anyio==4.8.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==2.1.0
async-lru==2.0.5
attrs==25.3.0
Automat==20.2.0
babel==2.17.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==6.2.0
blinker==1.9.0
boto3==1.40.15
botocore==1.40.15
cachetools==6.1.0
certifi==2022.5.18.1
cffi==1.15.0
cfgv==3.4.0
charset-normalizer==2.0.12
click==8.1.8
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.3
constantly==15.1.0
contourpy==1.3.0
cryptography==37.0.2
cssselect==1.1.0
cycler==0.12.1
debugpy==1.8.15
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.9
distro==1.9.0
-e git+https://github.com/v-alan-m/Match_Song_To_Story_Using_Sentiment_Analysis.git@573f1712ce330d19d4432bab6d2f7bac58fef898#egg=emotionlexicon
entrypoints==0.4
exceptiongroup==1.2.2
executing==1.2.0
Faker==37.5.3
fastapi==0.118.0
fastjsonschema==2.21.1
favicon==0.7.0
filelock==3.17.0
flake8==7.1.2
fonttools==4.59.1
fqdn==1.5.1
gitdb==4.0.12
GitPython==3.1.45
greenlet==3.1.1
h11==0.14.0
htbuilder==0.9.0
httpcore==1.0.7
httpx==0.28.1
hyperlink==21.0.0
identify==2.6.9
idna==3.3
importlib_metadata==8.6.1
importlib_resources==6.5.2
incremental==21.3.0
iniconfig==2.1.0
ipykernel==6.30.0
ipython==8.6.0
ipywidgets==8.1.7
isoduration==20.11.0
itemadapter==0.6.0
itemloaders==1.0.4
jedi==0.18.1
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.0
joblib==1.5.1
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.7
lark==1.2.2
lxml==4.8.0
lz4==4.4.3
Markdown==3.8.2
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.6
mccabe==0.7.0
mcpi==1.2.1
minecraft-resource-pack==1.4.6
minecraftstuff==1.0.1
mistune==3.1.3
mutf8==1.0.6
narwhals==2.1.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.1
nodeenv==1.9.1
notebook==7.4.4
notebook_shim==0.2.4
numpy==2.0.2
openai==1.65.5
overrides==7.7.0
packaging==24.2
pandas==2.3.1
pandocfilters==1.5.1
parsel==1.6.0
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
pillow==11.1.0
platformdirs==3.11.0
playwright==1.50.0
playwright-stealth==1.0.6
plotly==6.3.0
pluggy==1.6.0
portalocker==2.10.1
pre_commit==4.1.0
prometheus_client==0.22.1
prompt-toolkit==3.0.31
Protego==0.2.1
protobuf==6.31.1
psutil==7.0.0
pure-eval==0.2.2
pyarrow==21.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.12.1
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
PyDispatcher==2.0.5
pyee==12.1.1
pyflakes==3.2.0
Pygments==2.13.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyJWT==2.10.1
pymdown-extensions==10.16.1
PyOpenGL==3.1.9
pyOpenSSL==22.0.0
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pytest==8.4.2
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
pytz==2025.2
pywin32==309
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==27.0.0
queuelib==1.6.2
referencing==0.36.2
regex==2025.7.34
requests==2.32.4
requests-file==1.5.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.26.0
ruff==0.9.10
s3transfer==0.13.1
Scrapy==2.6.1
Send2Trash==1.8.3
service-identity==21.1.0
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
snowflake-connector-python==3.17.2
snowflake-snowpark-python==1.37.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
st-annotated-text==4.0.2
st-theme==1.2.3
stack-data==0.6.0
starlette==0.48.0
streamlit==1.48.1
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.7.6
streamlit-image-coordinates==0.2.2
streamlit-keyup==0.3.0
streamlit-notify==0.3.1
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_faker==0.0.4
svgwrite==1.4.3
tenacity==9.1.2
terminado==0.18.1
tinycss2==1.4.0
tldextract==3.3.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
Tree==0.2.4
Twisted==22.4.0
twisted-iocpsupport==1.0.2
types-python-dateutil==2.9.0.20250708
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
uri-template==1.3.0
urllib3==1.26.9
uvicorn==0.37.0
vaderSentiment==3.3.2
validators==0.35.0
virtualenv==20.29.3
w3lib==1.22.0
watchdog==6.0.0
wcwidth==0.2.5
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.14
wxPython==4.2.2
zipp==3.21.0
zope.interface==5.4.0
